/* Empty pages (no content) are shown as gray in the file explorer and tabs. */
.is-empty-page {
	color: gray;
}
/* Empty pages (no content) are shown as gray and italic in the file explorer and tabs. */
.is-empty-page-italic {
	font-style: italic;
	color: gray;
}